<html>
<body>
	<h2>Title</h2>
	<form action="/" method="post">
	<% questions.forEach(function(question) { %>
		<p><%= question.Question %></p>
		<ul>
			<% question.QuestionAnswers.forEach(function(answer) { %>
			<li>
				<input type="radio" name="<%= question._id %>" value="<%= answer._id %>">
				<%= answer.Answer %>
				</input>
			</li>
			<% }) %>
		</ul>
	<% }) %>
	<button type="submit">Submit Quiz</button>
	</form>
</body>
</html>